<div cng-app="myApp" ng-controller="customersCtrl">
  <h1>Carros Disponibles</h1>
  <div class="mdc-layout-grid__inner">
   <div class="mdc-layout-grid__cell">
    <table class="table table-hover">
        <thead>
      <tr>
      <th>Codigo Ares Sun</th>
      <th>Marca</th>
      <th>Modelo</th>
      <th>Año</th>
      <th>Color</th>
      <th>Placa</th>
      <th>Codigo Motor</th>
      <th>VIM</th>
      <th>Cilindraje</th>
      <th>Fecha Matricula</th>
      <th>Encargado</th>
      <th>Kilometraje Actual</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let c of cars.data ">
        <td>{{c.CodAresSun}}</td>
        <td>{{c.CodMarca}}</td>
        <td>{{c.Ano}}</td>
        <td>{{c.Color}}</td>
        <td>{{c.Placa}}</td>
        <td>{{c.SerieMotor}}</td>
        <td>{{c.VIM}}</td>
        <td>{{c.Cilindraje}}</td>
        <td>{{c.FechaDeMatricula}}</td>
        <td>{{c.CodEnc}}</td>
        <td>{{c.KmActual}}</td>
    </tr>
  </tbody>
    </table>
</div>
  </div>

</div>
