.form-group{
  width: 80%;
}
.container {
  margin-top: 30px;
}
.card{
  margin-left: 2rem ;
  width: 60rem;
}
input{
  width: 50rem;
}
input.ng-invalid {
  border-color: rgb(255, 0, 43);
}
input.ng-valid {
  border-color: rgb(103, 227, 255);
}
button.ng-invalid{
  color:grey;
}
