<mat-toolbar color="primary" class="expanded-toolbar">
  <button mat-button routerLink="/"><img src="../assets/RV.png" alt="" style="width: 90px;"></button>

  <div fxLayout="row" fxShow="false" fxShow.gt-sm>
    <button mat-button routerLink="/"><mat-icon>home</mat-icon></button>
    <button mat-button routerLink="/ingreso">Nuevos Registros</button>
    <button mat-button routerLink="/reportes">Reportes</button>
    <!-- <button mat-button *ngIf="!isAuthenticated" (click)="login()"> Login </button>
    <button mat-button *ngIf="isAuthenticated" (click)="logout()"> Logout </button> -->
  </div>
</mat-toolbar>




<router-outlet></router-outlet>
