@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  margin: 0;
  font-family: sans-serif;
}


.expanded-toolbar {
  justify-content: space-between;
  background-color: #7386D5;
}

h1 {
  text-align: center;
}
body{background: #fbfeff;}
@media (max-width: 768px) {
  .expanded-toolbar {
    justify-content: none;
  }
  mat-icon{
    position: hidden;
  }
}
